# API Base URL (copy this from CARTO Workspace -> Developers)
API_BASE_URL=

# Set this variable if you're using an API Access Token (public application).
# Go to app.carto.com -> Developers -> Manage API Access Tokens
API_ACCESS_TOKEN=
